/* ===========================
   Customer Sidebar
=========================== */

.provider-sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  background: #A31D1D;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 30px 20px;
  box-sizing: border-box;
}

.provider-logo {
  margin-bottom: 50px;
}

.provider-logo h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}

.provider-logo span {
  color: #ECDCBE;
}

.provider-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.provider-link {
  color: white;
  text-decoration: none;

  padding: 14px 18px;

  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 12px;

  transition: 0.3s;

  font-size: 18px;
  font-weight: 500;
}

.provider-link:hover {
  background: rgba(255,255,255,.12);
}

.provider-link.active {
  background: #D84040;
}

.logout-btn {
  margin-top: auto;

  border: none;

  background: #D84040;
  color: white;

  padding: 15px;

  border-radius: 12px;

  cursor: pointer;

  font-size: 16px;
  font-weight: 600;

  transition: .3s;
}

.logout-btn:hover {
  background: #c53333;
}